@{
    ViewData["Title"] = "Experience";
    Layout = "_Layout";
}
<div class="container">
    <h1 id="experience-header">Experience</h1>
    <hr>
    <div class="card">
        <div class="card-header"><h2>Inuvo, Inc.</h2><p class="dates">October 2017 - Present</p></div>
        <div class="card-content">
            <p>
                <span class="position">Position:</span> Software Developer
            </p>
            <span class="position">Duties:</span>
            <ul style="margin-left: 25px;">
                <li>Design, prototype, and test ad units for rendering on client websites</li>
                <li>Work with team of developers to ensure code is optimal via code reviews</li>
                <li>
                    Work with design team to ensure user experience is optimal through
                    iterative design processes
                </li>
                <li>
                    Maintain and develop ASP.NET web projects
                </li>
                <li>Maintain and develop front-end and backend of ad rendering software</li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header"><h2>UALR MAC Lab</h2><p class="dates">January 2017 - March 2018</p></div>
        <div class="card-content">
            <p>
                <span class="position">Position:</span> Mathematics Tutor
            </p>
            <span class="position">Duties:</span>
            <ul style="margin-left: 25px;">
                <li>Reduce student anxiety stemming from Mathematics</li>
                <li>Help students better understand Mathematics concepts</li>
                <li>Courses range from Calculus 3 to Discrete Mathematics</li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header"><h2>Arkansas Venture Center</h2><p class="dates">May 2017 - August 2017</p></div>
        <div class="card-content">
            <p>
                <span class="position">Position:</span> Programs/Operations Intern
            </p>
            <span class="position">Duties:</span>
            <ul style="margin-left: 25px;">
                <li>Develop designs and animations for advertising and promotion</li>
                <li>Front-end development</li>
                <li>Planning and coordinating various events</li>
            </ul>
        </div>
    </div>
</div>