@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<body>
    <div class="container">
        <div class="profile-pic"></div>
        <div class="text-card">
            <h2 class="text-card-header">Hi,</h2>
            <p>
                My name is Zach Mayfield, I am a Software Developer & UI/UX Designer from Little Rock, Arkansas. I graduated in
                May 2018 with a Bachelor’s Degree in Computer Science with a minor in Digital Graphics. I’ve
                got experience using web development tools such as Fiddler, Visual Studio, KnockoutJS,
                ASP.NET, and Bootstrap as well as some exposure to many others. In terms of design I’ve got experience using Adobe
                Experience Design, Illustrator, and After Effects. My objective is to continue to enhance both my
                design and development skills while working with people who want to learn and grow in their
                profession and skills as I do.
            </p>
        </div>
    </div>
    <hr>
    <!-- <div>
      <ul class="slideshow">
        <li class="slideshow-item"></li>
        <li class="slideshow-item"></li>
        <li class="slideshow-item"></li>
      </ul>
    </div> -->
    <!-- <div id="footer">
      <div class="social-icons nav-link">
        <a class="" href="#"><img class="social-icon" alt="Link to Zach Mayfield's GitHub" src="/Users/zachmayfield/Documents/Mayfield/assets/imgs/GitHub-Mark-Light-120px-plus.png" /></a>
        <a class="" href="#"><img class="social-icon" alt="Link to Zach Mayfield's Linked In" src="/Users/zachmayfield/Documents/Mayfield/assets/imgs/In-White-128px-TM.png" /></a>
      </div>
    </div> -->
</body>
